h1,
h2 {
  text-align: center;
}
.select-heroes {
  display: flex;
  justify-content: space-around;
  > .btn-start {
    position: absolute;
    bottom: 60vh;
    width: 15rem;
    height: 5rem;
    font-size: xx-large;
    border: 1px solid transparent;
    font-weight: 700;
    background-color: #7a0110;
    border-radius: 0.5rem 1.5rem;

    &:disabled {
      background-color: #222;
      border: 1px solid transparent;
      color: #111;
    }
  }
}
