<div class="gameField">
  <app-checkboard-hero [hero]="heroes[0]"></app-checkboard-hero>
  <div class="checkboard">
    <div *ngIf="gameOver" class="msg-header">{{ winnerName }}</div>
    <div *ngIf="!gameOver" class="msg-header">
      Vez do jogador <strong>{{ player!.chartSelection }}</strong>
    </div>

    <div class="rows" *ngFor="let row of gameBoard">
      <div class="cols" *ngFor="let col of row.field; let i = index">
        <button
          (click)="selectSquare(col)"
          class="square"
          [ngClass]="{
            'square-x': col.chartSelection == 'X',
            'square-o': col.chartSelection == 'O'
          }"
        >
          {{ col.chartSelection }}
        </button>
      </div>
    </div>

    <button (click)="resetBoard()" *ngIf="gameOver" class="btn-restart">
      Jogar Novamente
    </button>
  </div>
  <app-checkboard-hero [hero]="heroes[1]"></app-checkboard-hero>
</div>
