.gameField {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.rows {
  display: inline-flex;
  max-width: 10rem;
  max-height: 10rem;
}
.cols {
  max-width: 3rem;
  max-height: 3rem;
}
