/*Paleta Marvel => https://www.color-hex.com/color-palette/6563*/

.gameField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: calc(100vh - 20px);
}

.checkboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > .msg-header {
    font-size: 2rem;
    margin: 0 0 3rem 0;
  }

  > .btn-restart {
    margin: 3rem 0 0 0;
    width: 15rem;
    font-size: 2rem;
    border-radius: 5% 0;
    background-color: #7a0110;
    border: 2px solid transparent;

    &:hover {
      background-color: #aa0110;
    }

    &:active {
      background-color: #dd0110;
    }
  }
}

.rows {
  display: inline-flex;
  max-width: 30rem;
  max-height: 30rem;
}
.cols {
  width: 9.5rem;
  height: 9.5rem;
}

.square {
  width: 9rem;
  height: 9rem;
  border: 2px solid transparent;
  background-color: #504a4a;
  font-size: 5rem;
  margin: 1%;

  &.square-x {
    background-color: #e23636;
  }

  &.square-o {
    background-color: #f78f3f;
  }
}
