.hero-panel {
  height: 100vh;
  > img {
    border-radius: 10px 10px 0 0;
  }
  > .info-hero {
    padding: 0 10px;
    background: linear-gradient(to top, #1b191c, #1e1e1e00);
    position: absolute;
    top: 25vh;
    width: 10.5rem;
    > p {
      background-color: transparent;
    }
  }
}
