/* You can add global styles to this file, and also import other style files */
/*Color pallete => Cody Refs    https://www.color-hex.com/color-palette/1008566*/
* {
  box-sizing: border-box;
  background-color: #1e1e1e;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
